<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_homepage') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_product_index') }}">Liste des produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_product_create') }}">Créer un produit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('category_new') }}">Créer une catégorie</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                </li>
            </ul>
        </div>
    </div>
</nav>